div {
    margin: 0;
    padding: 0;
}

.buttonRounding {
    height: 50px;
    background: white;
    cursor: pointer;
}

.buttonFirst {
    border-radius: 10px 0 0 0;
}

.buttonLast {
    border-radius: 0 0 0 10px;
}

div .main {
    position: absolute;
    right: 0;
    z-index: 999999;
    background: transparent;
}

.openSettings {
    position: relative;
    background-color: transparent;
    float: left;
    height: 100px;
}

.panel{
    position: relative;
    float: right;
    background-color: white;
    height: 100vh;
}



@media screen and (max-width: 1920px) {
    .panel {
        width: 500px;
    }
}

@media screen and (max-width: 1500px) {
    .panel {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .panel {
        width: 200px;
    }
}

.markerBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.markerChip {
    margin: 5px;
    border-color: black;
}