.chestMarkerChip {
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    border-radius: 20px;
    padding-right: 3px;
    border: solid black 2px;
    justify-content: center;
    cursor: pointer;
    margin: 3px;
}

.chestMarkerChip img {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    background-color: white;
    border-radius: 15px;
    border-right: solid black 1px ;
}

.chestMarkerChip span {
    padding-top: 3px;
}

.chestMarkerActive {
    background-color: lightgreen;
}

.chestMarkerDisabled {
    background-color: darkorange;
}

.popupImage {
    width: 500px;
    height: 500px;
}